.toplevel_page_tws #wpcontent {
	padding-left: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	img {
	  border-width: 0;
	}

	a:focus {
		outline: none;
		box-shadow: none;
	}

}

